.chess-piece {
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
<<<<<<< HEAD
    font-family: FreeSerif, serif;
    font-size: 50px;
=======
    font-size: 46px;
>>>>>>> 0a39787fe86106473d724962beaa65c19b3d9c37
    justify-content: center;
    align-items: center;
    /* Disable highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    text-shadow: 0 0 3px #fff;
}

.chess-piece:hover {
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 2px green;
}

.chess-piece.in-check {
    background-color: #f55;
}

.chess-piece.white {
    color: white;
    text-shadow: 0 0 3px #000;
    -webkit-text-stroke: 0.2px black;
}