@font-face {
  font-family: FreeSerif;
  src: url("fonts/FreeSerif-YO4a.otf") format("opentype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-container {
  display: flex;
  min-width: 600px;
  padding: 10px;
  justify-content: center;
}